<!-- Employee Select -->
<div>
  <h4>Search for an Emloyee</h4>
  <mat-form-field appearance="fill">
    <mat-label>Employee List</mat-label>
    <mat-select>
      <mat-option (click)="onSelectedAll()">
        Show All
      </mat-option>
      <mat-option *ngFor="let employee of Employees" [value]="employee.employeeName"
        (click)="onSelectedEmployee(employee)">
        {{employee.employeeName}} - {{employee.employeePicture}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Tasks Table -->
<div class="table-container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="TaskNumber">
      <th mat-header-cell *matHeaderCellDef> Task Number </th>
      <td mat-cell *matCellDef="let element"> {{element.taskNumber}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="TaskName">
      <th mat-header-cell *matHeaderCellDef> Task Name </th>
      <td mat-cell *matCellDef="let element"> {{element.taskName}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="StatusID">
      <th mat-header-cell *matHeaderCellDef> Status ID </th>
      <td mat-cell *matCellDef="let element"> {{element.statusID}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="EmployeeName">
      <th mat-header-cell *matHeaderCellDef> Employee Name </th>
      <td mat-cell *matCellDef="let element"> {{element.employeeName}} </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="DepartmentID">
      <th mat-header-cell *matHeaderCellDef> Department ID </th>
      <td mat-cell *matCellDef="let element"> {{element.departmentID}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="DueDate">
      <th mat-header-cell *matHeaderCellDef> Due Date </th>
      <td mat-cell *matCellDef="let element"> {{element.dueDate}} </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons aria-label="Select page of tasks">
  </mat-paginator>
</div>

